#content {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/img/bg.jpg") center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

h1 {
  margin-top: 12.5vh !important;
  font-size: 50px;
}

.countdown {
  margin-top: 10vh;

  div {
    font-size: 20px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    span {
      font-size: 60px;
      font-weight: 800;
      font-family: "Lato Black", sans-serif;
    }
  }
}

#fact {
  margin-top: 10vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#lightingTime {
  margin-bottom: 20px;
}