<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>DormNet Christmas</title>

    <meta charset="UTF-8">
    <meta name="description" content="DormNet's countdown till Christmas!">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://use.fontawesome.com/efa3dc6def.js"></script>

    <script src="/js/countdown.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
<div class="pure-g" id="content">
    <div class="pure-u-1-5">
    </div>
    <div class="pure-u-3-5">
        <h1>Christmas Countdown</h1>

        <div class="pure-g countdown" id="christmasTime">
            <div class="pure-u-1-4">
                <span class="days"></span>
                <br>Days
            </div>
            <div class="pure-u-1-4">
                <span class="hours"></span>
                <br>Hours
            </div>
            <div class="pure-u-1-4">
                <span class="minutes"></span>
                <br>Minutes
            </div>
            <div class="pure-u-1-4">
                <span class="seconds"></span>
                <br>Seconds
            </div>
        </div>

        <h2 id="fact"></h2>

        <div class="pure-g countdown" id="lightingTime">
            <div class="pure-u-1">
                <span class="days"></span>
                <br>Days until the lighting
            </div>
        </div>
    </div>
</div>
</body>

</html>