<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>DormNet Christmas</title>

    <meta charset="UTF-8">
    <meta name="description" content="DormNet's countdown till Christmas!">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://use.fontawesome.com/efa3dc6def.js"></script>

    <script src="/js/main.js"></script>
</head>

<body>
<div class="pure-g">
    <div class="pure-u-1-5">
    </div>
    <div class="pure-u-3-5">
        <h1>DormNet Christmas Countdown</h1>
    </div>
</div>
</body>

</html>